html {
  max-width: 1440px;
  min-width: 378px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
display: inline-block;
box-sizing: border-box;
}

body a {
color: black;
text-decoration: none;
}

body h3 {
margin: 30px 10px 15px;
font-family: "Roboto", sans-serif;
}

body p {
font-family: "Roboto Thin", sans-serif;
}


.header__title{
  margin-top: 0px;
	width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__img {
  max-width: 600px;
  min-width: 300px;
}

.header__location {
  align-items: center;
  background: #eaeaea;
  box-shadow: -2px 19px 21px -8px rgb(0 0 0 / 26%) inset;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  justify-content: center;
  width: 100%;
}

.header__details{
  margin:15px;
}

.explore-location {
  background-color: #F6F6F6;
  font-family: "Roboto", sans-serif;
  padding-bottom: 75px;
  text-align: center;
}

.explore-location__title {
      font-size: 18px;
      padding: 20px 75px 0px;
}

.explore-location__subtitle {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 55px;
  padding: 0 40px;
}
.explore-location__button {
  background: linear-gradient(#D579D5, #9356DC);
  border-radius: 50px;
  box-shadow: 1px 16px 43px -2px rgb(0 0 0 / 15%);
  color: white;
  font-size: 16px;
  padding: 11px 30px 12.5px;
}

.header-title {
  font-family: "Roboto", sans-serif;
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: center;
}

.header-title img {
  height: 25px;
}

.section-one{
padding: 1rem;
}

.minicard__content{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
}
.miniicon{
width: 50px;
font-size: 20px;
text-align: center;
color: #818181;
}

.minicard__content.secondary .miniicon{
color:#9256dc;
}

.minicard__content .circle {
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  margin: 0px 10px 0px -11px;
  padding: 5px 8px;
}
.banniere-img {
  margin-bottom: -30px;
  max-height: 300px;
  object-fit: cover;
  width: 100%;
}

img {
  width: 100%;
  height:200px;
  margin-bottom: 0.8rem;
  border-radius: 12px;
}

.section-two img {
  object-fit: cover;
}

.novelties-flag p {
  margin: 5px 10px 5px 10px;
}

.novelties-flag {
background-color: #9ae2d0;
  color: #278666;
  font-size: 16px;
  position: absolute;
  right: 1rem;
  margin-top: 0.5rem;
}

h4 {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.card-content{
  margin: 5px 0px 5px 10px;
}

.content{
  padding: 1px;
}

.restaurant-location {
  font-family: "Roboto Thin", sans-serif;
  font-weight: lighter;
}

.section-two {
  background-color: #F6F6F6;
}

.section-restaurants .restaurant-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 26px 58px -22px rgb(0 0 0 / 48%);
  margin: 10px;
  overflow: hidden;
  position: relative;
}

footer{
  background-color: #363636;
  color: #F6F6F6 !important;
  padding: 8px 0px 20px 10px;
}
footer h3 {
  font-weight:100;
  font-family: "Shrikhand" !important;
}
footer li {
  font-family: "Roboto", sans-serif;
  list-style: none;
  margin: 8px;
}
footer ul {
  padding: 10px 0px;
}
footer a {
  margin-left: 5px;
  color: white !important;
}
body h3 {
    margin: 30px 10px 15px;
    font-family: "Roboto", sans-serif;
}
footer i {
  justify-content: space-around;
  font-size: medium;
}

@media (min-width: 900px){
.section-restaurants {
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    row-gap: 2rem;
}
.section-fonctionnalities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;   
}
}

.section-fonctionnalities .minicard {
  background-color: #F6F6F6;
  border-radius: 25px;
  box-shadow: 0px 2px 19px -2px rgb(0 0 0 / 17%);
  font-family: "Roboto", sans-serif;
  margin: 20px 20px;
}

@media (min-width: 1000px){
  .section-restaurants {
    grid-template-columns: repeat(4,1fr);
  }
  .header__details {
   font-size: 35px;
   font-weight: 400;
   display: flex;
   justify-content: space-between;
   text-align: center;
   font-family: "Shrikland" !important;

  }
}
/* Loader */


/* Loader */

/* Heart img */
.heart svg {
	cursor: pointer;
	fill: #818181;
	transition-duration: .2s;
	width: 26px;
	font-size: 5px;
	position: absolute;
	right: 15px;
	top: 14rem;
  margin-right: 20px;
	}
  
  .heart svg:hover{
    transform: scale(1.2);
	  fill:  #9356DC;
    transition: .2s;
    
  }
  
  /* Heart img end */


